[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.3"
djangorestframework = "*"
markdown = "*"
mysqlclient = "*"
pillow = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-import-export = "*"
django-formtools = "*"
future = "*"
"httplib2" = "*"
six = "*"
xlwt = "*"
xlsxwriter = "*"
django-guardian = "*"
coreapi = "*"
django-filter = "*"
django-cors-headers = "*"


[dev-packages]



[requires]

python_version = "3.6"
