[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.3"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
pillow = "*"


[dev-packages]



[requires]

python_version = "3.6"
