[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.2.13"
djangorestframework = "*"
markdown = "*"
mysqlclient = "*"
pillow = "*"
django-crispy-forms = "*"
django-reversion = "*"
django-import-export = "*"
django-formtools = "*"
future = "*"
"httplib2" = "*"
six = "*"
xlwt = "*"
xlsxwriter = "*"
django-guardian = "*"
coreapi = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
pycryptodome = "*"
drf-extensions = "*"
django-redis = "*"
social-auth-app-django = "*"


[dev-packages]



[requires]

python_version = "3.6"
